h1 {
    text-align: center;
}

#reservar, #tituloReservas, #listaReservas {
    margin-left: 8%;
    margin-bottom: 1%;
}

#cuadroReservas {
    background-color: rgb(123, 208, 241);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
}